/* General Styles */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');

body {
    background: #001f3f url("assets/images/Wallpaper.jpg") fixed no-repeat;
    font-family: "Segoe UI", sans-serif;
    font-size: 20px;
    color: #ffffff;
    margin: 0;
}

/* Header Styles */
#Header {
    text-align: center;
    width: 100%;
    padding: 0 20px;
    border-radius: 10px;
    background-color: #001f3f;
    backdrop-filter: blur(1px);
}

/* Navigation Styles */
nav {
    z-index: 2;
    margin-top: 0.5%;
    margin-left: 0.5%;
    margin-right: 0.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#menu {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 0 0 0 10px;
}

#menu > * {
    width: 65px;
    height: 65px;
    border-radius: 10px;
    padding: 10px;
    margin: 0 5px;
    background-color: #001f3f;
    object-fit: contain;
    object-position: center;
    transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.5), background-color 0.2s ease-in-out;
}

#menu > *:hover {
    background-color: #003366;
    transform: scale(1.05);
    cursor: pointer;
}

#Media img {
    cursor: pointer;
}

/* Side Panel Styles */
#sidePanel {
    position: fixed;
    top: 1%;
    right: -300px;
    width: 250px;
    background-color: #001f3f;
    transition: right 0.2s ease-in-out;
    z-index: 2;
    padding: 20px;
    border-radius: 15px;
    opacity: 0.95;
}

#sideHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#sidePanel button {
    background-color: transparent;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

#sidePanel p {
    margin-top: 25px;
}

#sidePanel img {
    width: 20px;
}

/* Side Footer Styles */
#sideFooter {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 5px;
    padding-bottom: 25px;
}

.socialImage {
    background-color: #003366;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.switch {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.generate {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#categoryDropdown {
    width: 125px;
    border-radius: 5px;
    background-color: #003366;
}

/* Main Content Styles */
main {
    margin-left: 0.5%;
    margin-right: 0.5%;
    padding-top: 1%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 0.5%;
    border-radius: 15px;
}

.image-container {
    position: relative;
}

main img {
    width: 100%;
    height: auto;
    max-height: 100%;
    border-radius: 10px;
    transition: transform 0.2s ease-in-out;
}

main img:hover {
    filter: none;
    cursor: pointer;
    transform: scale(1.025);
}

main img:not(:hover) {
    filter: brightness(0.9);
}

/* Scroll To Top Button Styles */
#scrollToTopBtn {
    display: none;
    max-width: 50px;
    max-height: 50px;
    position: fixed;
    bottom: 7%;
    right: 1%;
    background-color: #003366;
    padding: 10px;
    cursor: pointer;
    border-radius: 15px;
    opacity: 0.9;
    z-index: 2;
}

#scrollToTopBtn:hover {
    background-color: #001f3f;
}

/* Footer Styles */
#footer {
    background-color: #001f3f;
    color: #fff;
    padding: 8px;
    text-align: center;
    font-size: 14px;
    position: fixed;
    left: 0.5%;
    bottom: 0.5%;
    right: 0.5%;
    border-radius: 10px;
    backdrop-filter: blur(3px);
}
