/* styles.css */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');

body {
    background-image: url("assets/images/Wallpaper.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "Segoe UI";
    font-size: 20px;
    color: #ffffff;
}

nav {
    left: 1%;
    right: 1%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#Header {
    text-align: center;
    width: 100%;
    padding: 0 20px;
    border-radius: 10px;
    background-color: #001f3f; /* Very dark blue */
    backdrop-filter: blur(1px);
}

#Media {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end; /* Corrected from align-items: right; */
    margin: 0 0 0 10px;
}

/* style all child elements of #Media */
#Media > * {
    width: 65px;
    height: 65px;
    border-radius: 10px;
    padding: 10px;
    margin: 0 5px;
    background-color: #001f3f; /* Very dark blue */
    object-fit: contain;
    object-position: center;
    transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.5), background-color 0.2s ease-in-out;
}

/* animate child elements when hovered */
#Media > *:hover {
    background-color: #003366; /* Dark blue on hover */
    transform: scale(1.05);
    cursor: pointer;
}

#Media img {
    cursor: pointer;
}

/* Add styles for the sidePanel and social buttons */
#sidePanel {
    position: fixed;
    top: 1%;
    right: -300px; /* initially hidden */
    width: 250px;
    background-color: #001f3f;
    transition: right 0.2s ease-in-out;
    z-index: 2;
    padding: 20px;
    border-radius: 15px; /* Adjust the radius as needed */
    opacity: 95%;
}

#sideHeader {
    display: flex;
    justify-content: space-between; /* Align items with space between them */
    align-items: center; /* Center items vertically */
}

#sidePanel button {
    background-color: #00336600;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px; /* Rounded edges for the close button */
}

#sidePanel p {
    margin-top: 25px;
}

#sidePanel img {
    width: 20px; /* Adjust the size of the close icon */
}

/* Add styles for the sideFooter and social buttons */
#sideFooter {
    display: flex;
    align-items: center; /* Center items horizontally */
    justify-content: space-evenly;
    padding-top: 5px; /* Adjust as needed for spacing */
    padding-bottom: 25px;
}

.socialImage {
    background-color: #003366;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px; /* Rounded edges for the social buttons */
}

.switch {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.generate {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#categoryDropdown {
    width: 125px;
    border-radius: 5px;
    background-color: #003366;
}

main {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 16px;
    padding: 10px;
    margin: 12px;
    border-radius: 15px;
}

.image-container {
    position: relative;
}

main img {
    width: 100%; /* Make images fill the container */
    height: auto; /* Maintain aspect ratio */
    max-height: 100%; /* Prevent images from exceeding container height */
    border-radius: 10px;
    transition: transform 0.2s ease-in-out;
}

main img:hover {
    filter: none;
    cursor: pointer;
    transform: scale(1.025);
}

main img:not(:hover) {
    filter: brightness(0.9); /* Adjust the value as needed */
}

#scrollToTopBtn {
    display: none;
    max-width: 5%;
    max-height: 5%;
    position: fixed;
    bottom: 5%;
    right: 1%;
    background-color: #003366;
    padding: 10px;
    cursor: pointer;
    border-radius: 15px;
    opacity: 90%;
    z-index: 2;
}

#scrollToTopBtn:hover {
    background-color: #001f3f; /* Darker blue on hover */
}

#footer {
    background-color: #001f3f; /* Very dark blue */
    color: #fff;
    padding: 8px;
    text-align: center;
    font-size: 14px;
    position: fixed;
    left: 1%;
    bottom: 1%;
    right: 1%;
    border-radius: 10px;
    backdrop-filter: blur(3px);
}
